<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Shorten your links</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <%= render 'links/new_link', link: @link %>
          </div>
        </div>
      </div>

      <br><br>

    </div>
  </div>
  <div class="parallax">
    <%= image_tag 'sleeping_beauty.gif', style: "display: block; transform: translate3d(-50%, 218px, 0px);" %>
  </div>
</div>
