<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Shorten your links</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col offset-s2 s6">
              <i class="material-icons prefix">link</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Your long URL here</label>
            </div>
            <div class="col s3">
              <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Shorten</a>
            </div>
          </div>
        </form>
      </div>

      <br><br>

    </div>
  </div>
  <div class="parallax">
    <img src="images/sleeping_beauty.gif" style="display: block; transform: translate3d(-50%, 218px, 0px);">
  </div>
</div>
