<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <table class="highlight">
          <thead>
            <tr>
              <th>Shortened Link</th>
              <th>Original Link</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% @links.each do |link| %>
              <tr>
                <td><%= link_to link.out_url, link.slug, target: '_blank' %></td>
                <td><%= truncate(link.in_url, length: 50) %></td>
                <td><%= link.clicks %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
