<nav class="red accent-2">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Cute.link</a>
    <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Teste</a></li>
    </ul> -->
  </div>
</nav>
