/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";
  $primary-color: color("blue", "lighten-5") !default;
  $secondary-color: color("yellow", "base") !default;
  .red.accent-2 {
    background-color: #FD6E72 !important;
  }

  // ===  Features and fixes === //
  // - heart icon on footer
  .made-with-love {
    position: relative;
    top: 3px;
  }
  // - position of link icon on shorten form
  .input-field .prefix {
    top: 7px;
  }
  // - footer margin
  .page-footer {
    margin-top: 0px !important;
    margin-bottom: -22px;
  }
  .parallax-container {
    background-color: #ABE7DB;
    z-index: 1;
  }
  .parallax img {
    min-width: 50%;
  }
